
@import url('../../App/palette.css');

.btn {
  padding: .4rem 1rem;
  margin: 0 .5rem 1rem 0;
  border: 0;
  color: var(--buttonContent, #fff);
  background-color: var(--buttonEnabledBackground, green);
  outline: 0;
  font-weight: 700;
}

.btn:enabled:hover {
  background-color: var(--buttonHoverBackground, grey);
  cursor: pointer;
}

.btn:enabled:active {
  position: relative;
  top: 1px;
  outline: 0;
}

.btn:disabled {
  background-color: var(--buttonDisabledBackground, grey);
}

@media (min-width: 600px) {
  .btn {
    font-size: 175%;
  }
}

@media (max-width: 599px) {
  .btn {
    font-size: 225%;
  }
}
